.gameboard {
  width: 330px;
  height:310px;
  border:3px solid white;
  z-index: 1;
}

.wrapper {
  width: 330px;
  margin:0 auto;
}

.button {
   background-color:white;
   width: 160px;
   margin:0 auto;
}

.row1, .row2, .row3 {
  clear:both;
}

.cell1,.cell2,.cell3 {
  width:100px;
  height:100px;
  border:3px solid black;
  float: left;
}

.cell4,.cell5,.cell6 {
  width:100px;
  height:100px;
  float: left;
  border:3px solid black;
}

.cell7,.cell8,.cell9 {
  width:100px;
  height:100px;
  float: left;
  border:3px solid black;
}

.hiddeno1, .hiddeno2, .hiddeno3, .hiddeno4, .hiddeno5, .hiddeno6, .hiddeno7, .hiddeno8, .hiddeno9  {
  display:none;
}

.hiddenx1, .hiddenx2, .hiddenx3, .hiddenx4, .hiddenx5, .hiddenx6, .hiddenx7, .hiddenx8, .hiddenx9 {
  display:none;
}

.o1, .o2, .o3, .o4, .o5, .o6, .o7, .o8, .o9 {
  max-height: 100px;
}

.x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9 {
  max-height: 50px;
}
