.gameboard {
    width: 330px;
    height:310px;
    border:3px solid white;
    z-index: 1;

}

.wrapper {
    width: 330px;
    margin:0 auto;
}

.button {

     background-color:white;
     width: 160px;
     margin:0 auto;

    }

.row1, .row2, .row3 {
    clear:both;

}

.cell1,.cell2,.cell3 {
    width:100px;
    height:100px;
    border:3px solid black;
    float: left;

}

.cell4,.cell5,.cell6 {
    width:100px;
    height:100px;
float: left;
    border:3px solid black;
}

.cell7,.cell8,.cell9 {
    width:100px;
    height:100px;
    float: left;
    border:3px solid black;

}
